{% extends 'login/base.html' %}
{% block content %}
    <body class="text-center">
          <form class="form-signin" action="#" method="post">{% csrf_token %}
          <h1 class="h3 mb-3 font-weight-normal">Hospital Management System</h1>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit" name="signin" id="signin">Sign in</button>
         <button class="btn btn-lg btn-primary btn-block" name="log_create" id ="log_create" type="button">Create account</button>
            <div class="line">
                <!-- <span id="msg"></span> -->
                <p style="color:red;">{{msg}}</p>
            </div>
          <p class="mt-5 mb-3 text-muted">Author: Zijie Xia &amp; Zihao Wang</p> 
        </form>
    </body>
{% endblock %}