{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">
        <table>
            <tbody>
                <tr>
                    <td>病人id</td>
                    <td><input type="number" required  name="inputpid"  maxlength="9"  minlength="9"></td>
                </tr>
                <tr>
                    <td>病人fn</td>
                    <td><input type="text" required name="inputpfn"  maxlength="30"></td>
                </tr>
                <tr>
                    <td>病人ln</td>
                    <td><input type="text" required name="inputpln" maxlength="20"></td>
                </tr>
                <tr>
                    <td>病人gender</td>
                    <td><input type="text" required name="inputpgender" maxlength="1" minlength="1"></td>
                </tr>
                <tr>
                    <td>病人pbd YYYY-MM-DD HH:MM:SS</td>
                    <td><input type="text" required name="inputpbd"></td>
                </tr>
                <tr>
                    <td>病人race</td>
                    <td><input type="text" name="inputprace" maxlength="20"></td>
                </tr>
                <tr>
                    <td>病人status</td>
                    <td><input type="text" required name="inputpstatus" maxlength="1"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="submit"></td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}