{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">
        <select name="modifyattribute">
        <option value="pfname">pfn</option>
        <option value="plname" >pln</option>
        <option value="pgender" >pgender</option>
        <option value="pdb" >pbd</option>
        <option value="prace" >prace</option>
        <option value="pstatus" >pstatus</option>
        </select>

        <label for="modifypid">请输入pid</label>
        <input type="number" name="modifypid" required style="width:105px" minlength="9" maxlength="9"><br><br>
        <label for="modifycontent">请输入修改值</label>
        <input type="text" name="modifycontent" required style="width:105px"><br><br>

        <input type="submit">
    </form>
{% endblock %}
