<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>授权页面</title>
    <link rel="stylesheet" href="../../front/static/front/author.scss">

</head>
<body>
    <button id="btn">登录/注册</button>
    <div class="mask-wrapper">
        <div class="author-wrapper">
            <div class="close-group">
                <span class="close-btn"></span>
            </div>
            <div class="author-inner-group">
                <div class="signin-group author-group">

                </div>
                <div class="signup-group author-group">

                </div>
            </div>


        </div>
    </div>
</body>
</html>