{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">
        <table>
            <tbody>
                <tr>
                    <td>病人id</td>
                    <td><input type="text" name="inputpid"></td>
                </tr>
                <tr>
                    <td>病人fn</td>
                    <td><input type="text" name="inputpfn"></td>
                </tr>
                <tr>
                    <td>病人ln</td>
                    <td><input type="text" name="inputpln"></td>
                </tr>
                <tr>
                    <td>病人gender</td>
                    <td><input type="text" name="inputpgender"></td>
                </tr>
                <tr>
                    <td>病人pbd</td>
                    <td><input type="datetime-local" name="inputpbd"></td>
                </tr>
                <tr>
                    <td>病人race</td>
                    <td><input type="text" name="inputprace"></td>
                </tr>
                <tr>
                    <td>病人status</td>
                    <td><input type="text" name="inputpstatus"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="submit"></td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}