<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>主菜单</title>
</head>
<body>
<form method="post" action="Controller">
    1.请选择你想要执行的操作类型:
    <br><input type="checkbox" name="operation" value="Create"/>
    <br><input type="checkbox" name="operation" value="Update"/>
    <br><input type="checkbox" name="operation" value="Delete"/>
    <br><input type="checkbox" name="operation" value="Query"/>
    <hr>
    2.请选择你想要操作的表:
    <select multiple size="3" name="table">
        <option value="hospital">Hospital</option>
        <option value="patient" >Patient</option>
        <option value="patient_treatment" >Patient_Treatment</option>
    </select>
    <hr>
    <input type="submit">
</form>
</body>
</html>