{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">
        <table>
            <tbody>
                <tr>
                    <td>医院id</td>
                    <td><input type="number" required name="inputhid" maxlength="3" minlength="3"></td>
                </tr>
                <tr>
                    <td>医院name</td>
                    <td><input type="text" required name="inputhname" maxlength="30"></td>
                </tr>
                <tr>
                    <td>医院hadd</td>
                    <td><input type="text" required name="inputhadd"  maxlength="30"></td>
                </tr>
                <tr>
                    <td>医院hcity</td>
                    <td><input type="text" required name="inputhcity" maxlength="30"></td>
                </tr>
                <tr>
                    <td>医院hstate</td>
                    <td><input type="text" required name="inputhstate"  maxlength="20"></td>
                </tr>
                <tr>
                    <td>医院zip</td>
                    <td><input type="number" maxlength="5" minlength="5" required name="inputhzip"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" required value="submit"></td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}