{% extends 'base.html' %}

{% block content %}
    <div class="hospital-detail">
            <div class="jumbotron text-center">
                <h2>Hospital Detail</h2>
            </div>         
            <table class="table table-hover table-striped">
            <thead>
                <tr>
                <th>Hospital ID</th>
                <th>Hospital Name</th>
                <th>Hospital Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zipcode</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{hospital.0}}</td>
                    <td>{{hospital.1}}</td>
                    <td>{{hospital.2}}</td>
                    <td>{{hospital.3}}</td>
                    <td>{{hospital.4}}</td>
                    <td>{{hospital.5}}</td>
                </tr>
            </tbody>
            </table>
            <div class="row">
                    <div class="col-md-1 offset-md-8">
                        <form action="{% url 'delete_hospital' %}" method="POST">
                                <input type="hidden" name = "hid" value="{{ hospital.0}}">
                                <button class="btn btn-lg btn-primary btn-block" type="submit" name="delete" id="delete">Delete</button>
                        </form>
                        <div class="line">
                            <p style="color:red;">{{msg}}</p>
                        </div>
                    </div>
                </div>
                
            <!-- <form action="{% url 'delete_hospital' %}" method="post">
                    <input type="hidden" name = "hid" value="{{ hospital.0}}">
                    <input type="submit" value="delete this record">
                </form> -->
    </div>

{% endblock %}

