{% extends 'base.html' %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>医院id</th>
                <th>医院name</th>
            </tr>
        </thead>
        <tbody>
            {% for hospital in hospitals %}
                <tr>
                    <td><a href="{% url 'hospital_detail' hid=hospital.0 %}">{{hospital.0}}</a></td>
                    <td>{{hospital.1}}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}