{% extends 'base.html' %}
{% block content %}
<form class="form-addhospital" action="#" method="post">{% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Modify Hospital Info</h1>
        <label for="modifyhid" class="sr-only">Hospital ID</label>
            <input type="text" name="modifyhid" id="modifyhid" required placeholder="Hospital ID" minlength="3" maxlength="3">
        <div class="input-group mt-3 mb-3">
            <div class="input-group-prepend">
                <select calss="selectpicker" name="modifyattribute">
                    <option value="hname">hname</option>
                    <option value="hadd" >h_address</option>
                    <option value="hcity" >h_city</option>
                    <option value="hstate" >h_state</option>
                    <option value="hzip" >h_zipcode</option>
                </select>
            </div>
            <label for="modifycontent" style="display: none;">Modified Value</label>
            <input type="text" name="modifycontent" id="modifycontent" required placeholder="Modified Value" >
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit" id="submit">Submit</button>
        
        <div class="line">
            <!-- <span id="msg"></span> -->
            <p style="color:red;">{{msg}}</p>
        </div> 
</form>
{% endblock %}
