{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">
        <table>
            <tbody>
                <tr>
                    <td>用户id</td>
                    <td><input type="number" required name="inputusid" maxlength="4" minlength="4"></td>
                </tr>
                <tr>
                    <td>用户fname</td>
                    <td><input type="text" required name="inputufname" maxlength="20"></td>
                </tr>
                <tr>
                    <td>用户lname</td>
                    <td><input type="text" required name="inputulname" maxlength="20"></td>
                </tr>
                <tr>
                    <td>用户role</td>
                    <td><input type="text" required name="inputurole" maxlength="20"></td>
                </tr>
                <tr>
                    <td>所在部门id</td>
                    <td><input type="number" required name="inputdid" maxlength="2" minlength="2"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="submit"></td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}