{% extends 'base.html' %}
{% block content %}
    <form class="form-search" action="#" method="post">{% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">Search User Information</h1>
            <select name="selectattribute">
                <option value="usid">usid</option>
                <option value="ufname">ufn</option>
                <option value="ulname" >uln</option>
                <option value="urole" >urole</option>
                <option value="did" >did</option>
            </select>
            <label for="selectcontent" style="display: none;">Search Value</label>
            <input type="text" name="selectcontent" id="selectcontent" required placeholder="Select Value" >
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit" id="submit">Submit</button>   
            <div class="line">
                <!-- <span id="msg"></span> -->
                <p style="color:red;">{{msg}}</p>
            </div> 
        </form>
{% endblock %}