{% extends 'base.html' %}
{% block content %}
    {% for row in content %}
        {% for i in row %}
            <li style="list-style: none">usid:  {{i.0}}</li>
            <li style="list-style: none">ufname:  {{i.1}}</li>
            <li style="list-style: none">ulname:  {{i.2}}</li>
            <li style="list-style: none">urole:  {{i.3}}</li>
            <li style="list-style: none">did:  {{i.4}}</li>
            <li style="list-style: none;height: 20px"></li>
        {% endfor %}
    {% endfor %}
{% endblock %}