*{
    margin: 0;
    padding: 0;
}

.nav{
    background: #00ccff;
    height: 65px;
    overflow: hidden;
}

.nav li{
    float: left;
    list-style: none;
    margin: 0 20px;
    line-height: 65px;

}

.nav li a{
    color: #fff;
    text-decoration: none;
}

.nav li a:hover{
    color: gold;

}


.content{
    background: #00ccff;
    height: 65px;
    overflow: hidden;
}


.content li{
    color:blue;
}